<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoctaTCG | {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="w-full bg-[#9a105b] px-5 py-2.5 flex place-content-between items-center">
        <img src="#" alt="#">
        <ul class="flex gap-10">
            <a href="#"><li class="uppercase font-bold text-white">Decks</li></a>
            <a href="#"><li class="uppercase font-bold text-white">Noticias</li></a>
            <a href="#"><li class="uppercase font-bold text-white">Card database</li></a>
            <a href="#"><li class="uppercase font-bold text-white">Discord</li></a>
            <a href="#"><li class="uppercase font-bold text-white">Erratas</li></a>
            <a href="#"><li class="uppercase font-bold text-white">¿Donde jugar?</li></a>
        </ul>
        <div>
            <input type="text" placeholder="Buscar" class="bg-[#9b9b9a] text-white placeholder:text-white p-2 rounded-md">
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="w-full bg-black px-10 py-8">
        <img src="#" alt="#" class="mr-20 float-left">
        <div class="flex w-1/3 place-content-between">
            <ul class="text-white text-lg leading-5">
                <a href="#"><li class="text-[#9a105b] font-bold">Secciones</li></a>
                <a href="#"><li>Decks</li></a>
                <a href="#"><li>Deck Builder</li></a>
                <a href="#"><li>Deck codes</li></a>
                <a href="#"><li>Card database</li></a>
                <a href="#"><li>Erratas</li></a>
            </ul>
            <ul class="text-white text-lg leading-5">
                <a href="#"><li class="text-[#9a105b] font-bold">Comunidad</li></a>
                <a href="#"><li>Noticias</li></a>
                <a href="#"><li>Discord</li></a>
                <a href="#"><li>Instagram de NOCTA</li></a>
            </ul>
            <ul class="text-white text-lg leading-5">
                <a href="#"><li class="text-[#9a105b] font-bold">Donde jugar</li></a>
                <a href="#"><li>Rancagua</li></a>
                <a href="#"><li>Chiloé</li></a>
                <a href="#"><li>Santiago</li></a>
            </ul>
        </div>

        <hr class="border-1 border-white mt-10 mb-2">
        <p class="text-white text-lg">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
            ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
    </footer>
</body>
</html>