{% extends "base.html" %}
{% block title %}Card Database{% endblock %}
{% block content%}
<div class="w-10/12 mx-auto">
    <h1 class="uppercase text-[#9a105b] text-3xl font-bold py-8">Nocta card database</h1>

    <p class="pb-8">Usa la barra del buscador para conseguir cualquier carta del juego</p>

    <section class="w-full border-2 border-[#cbcbcb] px-10 py-8">
        <div class=" flex gap-2 mb-10">
            <input type="search" name="#" id="#" class="border-2 border-[#cbcbcb] w-3/4" placeholder="Escribe áca para buscar...">
            <select name="filters" id="#" class="border-2 border-[#cbcbcb] w-1/4">
                <option value="#">Filtrar</option>
                <option value="#">Filtro 1</option>
                <option value="#">Filtro 2</option>
                <option value="#">Filtro 3</option>
            </select>
        </div>
        <div class="w-[500px] mx-auto flex gap-5 justify-center">
            <a href="#" class="bg-[#f5279f] text-white text-center basis-1/4 px-5 py-2 rounded-md">Expansiones</a>
            <a href="#" class="bg-[#f5279f] text-white text-center basis-1/4 px-5 py-2 rounded-md">Erratas</a>
        </div>
    </section>

    <section class="grid grid-cols-7 gap-2 pt-8 pb-10">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[2] transition-all">
    </section>
</div>

{% endblock %}