{% extends "base.html" %}
{% block title %}Expansiones{% endblock %}
{% block content%}
<div class="w-10/12 mx-auto">
    <h1 class="font-bold text-3xl text-[#9a105b] my-12">Expansiones</h1>
    <div class="grid grid-cols-4 gap-5">
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">KT1</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">KT2</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">skins</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">structural deck 1</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">structural deck 2</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">set de refuerzo tomatita idol</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">set de refuerzo yammu idol</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">set de refuerzo incidente sceptillians</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">pacto de poder</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">cartas de eventos/especiales</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">rencor</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">auras</h2>
        </div>
        <div>
            <img src="#" alt="#" class="w-full h-[125px] bg-black rounded-xl">
            <h2 class="uppercase text-center font-bold text-2xl">almas</h2>
        </div>
    </div>
</div>
{% endblock %}