{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content%}
<!-- Discord banner -->
<div class="w-4/6 h-[100px] bg-[#4145e4] mx-auto my-12"></div>

<section class="w-10/12 mx-auto bg-gradient-to-r from-black from-50% to-transparent text-white p-8 rounded-xl">
    <h2 class="text-4xl font-bold">Ver cartas de NOCTA TCG con
    <br>información completa y precisa</h2>
    <p class="my-8">Obten acceso ilimitado a todas las cartas de expansiones, sets y exclusivas 
    <br>que posee el DECK BUILDER para NOCTA TCG para armar tus mazos y cotizar 
    <br>su valor referencial.</p>
    <div class="flex gap-5">
        <a href="#" class="px-5 py-2 border-2 border-white rounded-md">Ver cartas completas</a>
        <a href="#" class="px-5 py-2 bg-[#f5279f] rounded-md">Ver cartas completas</a>
    </div>
</section>

<section class="w-10/12 mx-auto my-12">
    <h2 class="uppercase text-[#9a105b] text-3xl font-bold">Explora</h2> 
    <div class="grid grid-cols-5 gap-5 py-4 text-center">
        <div>
            <img src="#" alt="#" class="bg-black rounded-xl h-[120px]">
            <a href="#" class="capitalize text-lg font-bold">Deck builder</a>
        </div>
        <div>
            <img src="#" alt="#" class="bg-black rounded-xl h-[120px]">
            <a href="#" class="capitalize text-lg font-bold">Card database</a>
        </div>
        <div>
            <img src="#" alt="#" class="bg-black rounded-xl h-[120px]">
            <a href="#" class="capitalize text-lg font-bold">Ingresar deck codes</a>
        </div>
        <div>
            <img src="#" alt="#" class="bg-black rounded-xl h-[120px]">
            <a href="#" class="capitalize text-lg font-bold">Releases</a>
        </div>
        <div>
            <img src="#" alt="#" class="bg-black rounded-xl h-[120px]">
            <a href="#" class="capitalize text-lg font-bold">expansiones</a>
        </div>
    </div>
</section>

<section class="w-10/12 mx-auto my-12">
    <h2 class="uppercase text-[#9a105b] text-3xl font-bold">DECKS DESTACADOS</h2> 
    <div class="grid grid-cols-4 gap-5 py-4">
        <!-- TODO: Add image background -->
        <div class="aspect-square bg-black relative">
            <div class="uppercase text-[#f5279f] text-xs font-bold bg-white rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-2">comunidad</div> 
            <div class="uppercase bg-[#f5279f] text-white text-xs font-bold rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-1">$45.000</div> 

            <div class="bg-[#f5279f] w-full h-1/2 absolute bottom-0 text-white p-2 flex flex-col place-content-between">
                <div>
                    <h3 class="font-bold text-xl">Tomatita Idol (ISSUE)</h3>
                    <p>Idol, abierto a sugerencias</p>
                </div>
                <div class="flex items-center gap-1 ">
                    <div class="aspect-square w-[24px] rounded-full bg-white"></div>
                    <p class="text-xs">JuanitoAlimaña1 - hace 2 horas</p>
                    <p class="text-sm font-bold pl-4">25</p>
                </div>
            </div>
        </div>
        <div class="aspect-square bg-black relative">
            <div class="uppercase text-[#f5279f] text-xs font-bold bg-white rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-2">comunidad</div> 
            <div class="uppercase bg-[#f5279f] text-white text-xs font-bold rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-1">$45.000</div> 

            <div class="bg-[#f5279f] w-full h-1/2 absolute bottom-0 text-white p-2 flex flex-col place-content-between">
                <div>
                    <h3 class="font-bold text-xl">Yammu Idol (ISSUE)</h3>
                    <p>Idol, abierto a sugerencias</p>
                </div>
                <div class="flex items-center gap-1 ">
                    <div class="aspect-square w-[24px] rounded-full bg-white"></div>
                    <p class="text-xs">JuanitoAlimaña1 - hace 2 horas</p>
                    <p class="text-sm font-bold pl-4">25</p>
                </div>
            </div>
        </div>
        <div class="aspect-square bg-black relative">
            <div class="uppercase text-[#f5279f] text-xs font-bold bg-white rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-2">comunidad</div> 
            <div class="uppercase bg-[#f5279f] text-white text-xs font-bold rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-1">$23.100</div> 

            <div class="bg-[#f5279f] w-full h-1/2 absolute bottom-0 text-white p-2 flex flex-col place-content-between">
                <div>
                    <h3 class="font-bold text-xl">IGUABAL - Pulpos</h3>
                    <p>Mazo reducido</p>
                </div>
                <div class="flex items-center gap-1 ">
                    <div class="aspect-square w-[24px] rounded-full bg-white"></div>
                    <p class="text-xs">PotoHueco19 - hace 10 horas</p>
                    <p class="text-sm font-bold pl-4">115</p>
                </div>
            </div>
        </div>
        <div class="aspect-square bg-black relative">
            <div class="uppercase text-[#f5279f] text-xs font-bold bg-white rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-2">comunidad</div> 
            <div class="uppercase bg-[#f5279f] text-white text-xs font-bold rounded-xl object-contain w-fit px-2 py-0.5 mx-2 mt-1">$70.000</div> 

            <div class="bg-[#f5279f] w-full h-1/2 absolute bottom-0 text-white p-2 flex flex-col place-content-between">
                <div>
                    <h3 class="font-bold text-xl">Paladines anti-meta</h3>
                    <p>Base pesadilla</p>
                </div>
                <div class="flex items-center gap-1 ">
                    <div class="aspect-square w-[24px] rounded-full bg-white"></div>
                    <p class="text-xs">Colector23_1 - hace 20 horas</p>
                    <p class="text-sm font-bold pl-4">132</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w-10/12 mx-auto my-12">
    <div class="w-full bg-gradient-to-r from-black from-70% to-transparent text-5xl text-white py-10 px-16 rounded-full">
        Sets de expansiones actuales acá
    </div>
</section>

<section class="w-10/12 mx-auto my-12">
    <h2 class="uppercase text-[#9a105b] text-3xl font-bold">ULTIMAS NOTICIAS DE COMIC NOCTA</h2> 
    <div class="grid grid-cols-4 gap-5 py-4 text-center">
        <div class="aspect-square bg-black rounded-xl">
            <!-- TODO: Add image -->
        </div>
        <div class="aspect-square bg-black rounded-xl">
            <!-- TODO: Add image -->
        </div>
        <div class="aspect-square bg-black rounded-xl">
            <!-- TODO: Add image -->
        </div>
        <div class="aspect-square bg-black rounded-xl">
            <!-- TODO: Add image -->
        </div>
    </div>
</section>

<section class="w-10/12 mx-auto my-12">
    <div class="w-full bg-gradient-to-r from-black from-70% to-transparent text-5xl text-white py-10 px-16 rounded-full">
        Ultimas erratas y reglas acá
    </div>
</section>

<section class="w-10/12 mx-auto my-12">
    <h2 class="uppercase text-[#9a105b] text-3xl font-bold">DECKS DESTACADOS</h2> 
    <div class="grid grid-cols-2 gap-5 py-4">
        <!-- TODO: Add image background -->
        {% include "mazoResumen.html" with categoria="comunidad" precio="$45.000" nombre="Tomatita Idol (ISSUE)" subtitulo="Idol, abierto a sugerencias" creador="JuanitoAlimaña1 - hace 2 horas" vistas="25"%}
        {% include "mazoResumen.html" with categoria="comunidad" precio="$23.100" nombre="IGUABAL - Pulpos" subtitulo="Mazo reducido" creador="PotoHueco19 - hace 10 horas" vistas="115"%}
    </div>
</section>
{% endblock %}