{% extends "base.html" %}
{% block title %}Expansiones - KT1{% endblock %}
{% block content%}
<div class="w-10/12 mx-auto">
    <h1 class="text-3xl text-[#9a105b] font-bold uppercase mt-10">Expansiones - KT1</h1>
    <section class="grid grid-cols-5 gap-2 pt-8 pb-10">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-black aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
        <img src="#" alt="#" class="bg-[#f5279f] aspect-[2/3] rounded-md hover:scale-[1.5] transition-all">
    </section>
</div>
{% endblock %}